mixin Modal(id, modalTemplate)
    .modal(id=id)
        .modal__dialog
            button.btn__modal__close
            .modal__content
                +#{modalTemplate}(entry)

mixin ModalTemplate
    h1 ModalTemplate
    