@media(max-width: 1440px)
{
    section.advantages:after
    {
        width: 500px;
        height: 500px;
    }
}

@media(max-width: 1200px)
{
    .container
    {
        max-width: 1024px;
    }

    section.main
    {
        background-position-x: 40%;
    }

    section.advantages .advantages__wrapper
    {
        max-width: 500px;
    }
}

@media(max-width: 1024px)
{
    .container
    {
        max-width: 992px;
    }
}

@media(max-width: 992px)
{
    .container
    {
        max-width: 768px;
    }
}

@media(max-width: 768px)
{
    .container
    {
        max-width: 576px;
    }
}

@media(max-width: 576px)
{
    .container
    {
        max-width: 320px;
    }
}